{"character_name":"Tavid","character_class":"enchanter","env_logpath":"c:\\Everquest\\logs\\dbg.txt","spells_good_fill":"#1cfd02","spells_bad_fill":"#000000","spells_good_bg":"#c0c0c0","spells_bad_bg":"#ff0d0d","spells_good_text_color":"#ff0000","spells_bad_text_color":"#ffffff","display_columns":"2","display_alpha":"206","display_alpha_value":"80.7"}